<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    
   <!--  <bean id="entrenando"
    	class="com.welcome.EntrenadorPersonal">
    	creación del constructor para "inyectar"
    	<constructor-arg ref="dependencia"/>
    	</bean>
     <bean id="baseball"
    	class="com.welcome.EntrenadorBaseball">
    	creación del constructor para "inyectar"> 
    	<constructor-arg ref="dependencia"/>
    	</bean>
    	-->
    	
    <bean id="dependencia"
		class="com.welcome.competicion_clase">
	</bean>
	
	<bean id="entrenando"
    	class="com.welcome.EntrenadorPersonal">
    	<constructor-arg ref="dependencia"/>
    	</bean>
	
   <!-- 4º PASO-> POR AQUÍ INYECCIÓN VÍA SETTER > -->
	<bean id="tenis"
	class="com.welcome.EntrenadorTenis">
	 <!-- 5º PASO-> CONFIGURAR LA INYECCIÓN EN EL SETTER  -->
	 <property name="compitiendo" ref="dependencia" />
	 </bean>
	 
	
	
	
	

</beans>