<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Dynamic_old</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertDetails</display-name>
    <servlet-name>InsertDetails</servlet-name>
    <servlet-class>com.welcome.InsertDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDetails</servlet-name>
    <url-pattern>/InsertDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDetails</display-name>
    <servlet-name>SelectDetails</servlet-name>
    <servlet-class>com.welcome.SelectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDetails</servlet-name>
    <url-pattern>/SelectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDetails</display-name>
    <servlet-name>DeleteDetails</servlet-name>
    <servlet-class>com.welcome.DeleteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetails</servlet-name>
    <url-pattern>/DeleteDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetails</display-name>
    <servlet-name>UpdateDetails</servlet-name>
    <servlet-class>com.welcome.UpdateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetails</servlet-name>
    <url-pattern>/UpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoServlet</display-name>
    <servlet-name>NuevoServlet</servlet-name>
    <servlet-class>com.welcome.NuevoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoServlet</servlet-name>
    <url-pattern>/NuevoServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>